@import "./mapviewer/style.css";
@import "./statistics/style.css";

/**
 * author PNC
 * added for global styles
 */

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 40vh;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Style the tab */

.tab {
  overflow: hidden;
  background-color: #ddd;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #adb5bd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #fff;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

/* sidebar container style */

.sidebar-container {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 25rem;
  height: 51rem;
  left: 50px;
  top: 50px;
  box-shadow: 2px 2px #888888;
  opacity: 0.5;
}

.sidebar-container:hover {
  opacity: 1;
}

/* map container */

.map-container {
  width: 100%;
  height: 100vh;
  border: 1px solid silver;
}

.align-left {
  text-align: left;
}

.margin-1 {
  margin: 1rem;
}

.margin-top-05 {
  margin-top: 0.5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-025 {
  margin-top: 0.25rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-l-40 {
  padding-left: 40px;
}

.width-50-p {
  width: 50%;
}

.font-size-15 {
  font-size: 15px;
  font-weight: normal;
}

.color-r {
  background-color: red;
}

.color-p {
  background-color: pink;
}

.color-o {
  background-color: orange;
}
