/**
 * author PNC
 * added for mapviewer styles
 */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(243, 33, 33);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(243, 33, 33);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.type-container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
}

.type-container>div {
    width: 30%;
}

.map-viewer-label {
    font-size: 20px;
    font-weight: 500;
}

.pos-label {
    width: 33%;
    text-align: left;
}

.start-pos-container input,
.end-pos-container input {
    padding: 5px;
}

button.btn.show-path {
    width: 85%;
    background: #ff7500;
    margin-top: 1rem;
    color: #fff;
    font-size: 18px;
    /* font-weight: bold;
    letter-spacing: 2px; */
}

.traffic-icon {
    width: 30px;
}

.event-container {
    padding-top: 2rem;
}