/**
 * author PNC
 * added for statistics styles
 */

.statistics-titles {
    margin-top: .25rem;
    text-align: left;
}

.statistics-date-container {
    display: flex;
    justify-content: space-between;
}

.statistics-input-container {
    font-size: 1rem;
    font-weight: bold;
}

.statistics-accident-container,
.statistics-weather-container {
    text-align: left;
    margin-top: .2rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.statistics-refer-container {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    text-align: left;
    border: 1px solid #d3d3d3;
    top: calc(100vh - 6.6rem);
    right: 30px;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    border: 2px solid #808080;
    border-width: 2px;
    border-color: #808080;
}

.statistics-refer-type {
    display: block;
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    border-radius: 50%
}